
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* TODO: ADD OVERFLOW ON PROJECT TASKS */
:root {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  --base-color: #f8f9fa;
  --secondary-color: #e9ecef;
}

ul,
body {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

#global-container {
  background-color: var(--base-color);
  height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 1fr;
}
